body{
		background-image: url('/static/img/bg-01.jpg');
		background-size: cover;
		color: purple;
		font-family: sans-serif;
		text-align: center;
}

nav[class="navbar navbar-default"]{
	position: relative;
	left:1%;
}

img[class=container]{
	height: 150px;
}

#photo{
	width: 300px;
	height: 275px;
}

#topleft{
	position: absolute;
	display: inline-block;
	width:30%;
	height:40%;
	top:7%;
	left:10%;
	padding: 2%;
	margin-top: 2%;
	font-family: sans-serif;
	background-color: white;
}

#bottomleft{
	position: absolute;
	display: inline-block;
	width:30%;
	height:40%;
	top:50%;
	left:10%;
	padding: 2%;
	margin-top: 2%;
	font-family: sans-serif;
	background-color: white;
}

#topright{
	position: absolute;
	display: inline-block;
	top: 7%;
	left: 42%;
	background-color: white
}


section a{
	font-family: fantasy;
	font-size: x-large;
}

#bottom{
	float: bottom;
}

.dropdown:hover .dropdown-menu{
	display:block;
}


article[id=a]{
	position: relative;
	float:left;
	margin: 5%;
	display: inline-block;
	width: 40%;
}

article[id=b]{
	position:absolute;
	float:left;
	top: 10%;
	left: 45%;
	margin: 5%;
	display: inline-block;
	width: 40%;
}

footer{
	position:absolute;
	bottom:2%;
	left:45%;
}
