
{% extends "layout.html" %}
{% block content %}
	<div class="login-page">
	  <div class="form">
	    <form class="login-form" action="login.py" method="POST">
	      <input type="text" name="username" placeholder="Username"/>
	      <input type="email" name="Email" placeholder="Email"/>
	      <h5>Enter your password</h5>
	      <input type="password" name="psw" placeholder="password"/>
	      <h5>Re-type your password</h5>
	      <input type="password" name="psw" placeholder="password"/>
	      <h5>Enter your investment in USD</h5>
	      <input type="text" name="Asset" placeholder="Investment Amount"/>
	      <h5>Select the level of risk you can afford</h5>
	      <select name="Risk Level" size="1">
  		  	<option value="Volatile">Volatile, High risk with high reward</option>
  			<option value="Moderate">Moderate, Move at a relatively steady pace</option>
  			<option value="Safe">Safe, Move little and minimize risk</option>
		  </select>
		  <br><br>
	      <button type="submit">Get Started</button>
	    </form>
	  </div>
	</div>
{% endblock %}