{% extends "layout.html" %}

{% block title %}
<title>Trader Login</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
{% endblock %}

{% block content %}
<div class="limiter">
	<div class="container-login100">
	  	<div class="wrap-login100">
		    <form class="login100-form validate-form" action="/" method="POST">

		    	<span class="login100-form-title p-b-34">
					Account Login
				</span>

		    	{{ form.hidden_tag() }}

		      	<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20">
					{{ form.username(placeholder="Username", class_="input100") }}
		      		<span class="focus-input100"></span>
		      	</div>

		      	<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20">
		      		{{ form.password(placeholder="Password", class_="input100") }}
		      		<span class="focus-input100"></span>
		      	</div>

		      	<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Sign in
					</button>
				</div>

				<div class="w-full text-center p-t-27 p-b-239">
					<span class="txt1">
						Forgot
					</span>

					<a href="#" class="txt2">
						Username / Password?
					</a>
				</div>

				<div class="w-full text-center">
					<a href={{ url_for('signup')}} class="txt3">
						Sign Up
					</a>
				</div>
		    </form>

		    <div class="login100-more" style="background-image: url({{ url_for('static', filename='img/bg-01.jpg') }});"></div>
	    </div>
	</div>
</div>
{% endblock %}