
{% extends "layout.html" %}
{% block content %}
	<div class="login-page">
	  <div class="form">
	    <form class="login-form" action="/" method="POST">
	    	{{ form.hidden_tag() }}
	    	<h5>Enter your username and email</h5>
	      	<div>
	      		{{ form.username(placeholder="Username") }}
	      	</div>

	      	<div>
	      		{{ form.email(placeholder="Email") }}
	      	</div>

	      	<div>
	      		<h5>{{ form.password.label }}</h5>
	      		{{ form.password(placeholder="Password") }}
	      	</div>

	      	<div>
	      		<h5>{{ form.password1.label }}</h5>
	      		{{ form.password1(placeholder="Password") }}
	      	</div>

	      	<div>
	      		<h5>{{ form.investment.label }}</h5>
	      		{{ form.investment(placeholder="Investment Amount") }}
	      	</div>

	      	<div>
	      		<h5>{{ form.riskLevel.label }}</h5>
	      		{{ form.riskLevel }}
	      	</div>

	      	<br>

	      	<button type="submit">Get Started</button>
	    </form>
	  </div>
	</div>
{% endblock %}