{% extends "layout.html" %}

{% block title %}
<title>Trader Portfolio</title>
{% endblock %}

{% block css %}
<!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<header class="container">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="{{ url_for('portfolio')}}"><b>My Portfolio</b></a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="avbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><a href="{{ url_for('changePref') }}"><b>Preferences</b><span class="sr-only"></span></a></li>
			        <li><a href="https://www.cnbc.com/"><b>Market News</b></a></li>
			        <li class="dropdown">
			          <a href="https://github.com/SteveDengZishi" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Market Performance</b><span class="caret"></span></a>
			          <ul class="dropdown-menu">
			          	<li><a href="http://markets.businessinsider.com/index/dow_jones">Dow Jones Live Chart</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="http://markets.businessinsider.com/index/market-movers/s&p_500">Daily S&P 500 Best&Worst Performing Stocks</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="https://www.bloomberg.com/markets/sectors">Sector Performance Bloomberg</a></li>
			          </ul>
			        </li>
			      </ul>
			      <form class="navbar-form navbar-left" role="search">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Search">
			        </div>
			        <button type="submit" class="btn btn-default">Submit</button>
			      </form>
			      <ul class="nav navbar-nav navbar-right">
			        <li class="active"><a href="{{ url_for('logout') }}"><b>Logout</b></a></li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Contact Us</b><span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Email - zd475@nyu.edu</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Cell - (xxx)-xxx-xxxx</a></li>
			          </ul>
			        </li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
	</header>
	<div class="usertable" id="usertable-1">
		<div class="username" id="topleft">
			<h3><b>Welcome Back Trader</b></h3>
			<h3><i>{{session['username']}}</i></h3>
			<br>
			<h3><b>Your Current Trading Preferences</b></h3>
			<h3><i id="risk">#</i></h3>
			<script>
				var risk="Hola";
				if ({{session['risk_level']}} == 0){
					risk = "Aggressive Strategy";
				}
				else if({{session['risk_level']}} == 1){
					risk = "Normal Strategy";
				}
				else{
					risk = "Conservative Strategy";
				}
				document.getElementById("risk").innerHTML = risk;
			</script>
		</div>
		<div class="inv_amount" id="bottomleft">
			<h4><b>Total Portfolio Value</b></h4>
			<h4><i>{{session['investment']}}</i></h4>
			<br>
			<h4><b>Available Cash</b></h4>
			<h4><i>{{session['investment']}}</i></h4>
			<br>
			<h4><b>Stocks Value</b></h4>
			<h4><i>$ 0.00</i></h4>
		</div>
		<!--div class="image" id="image-1">
		</div-->
		<div id="right">
			<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
			{{ content|safe }}
		</div>
	</div>
	<!-- <h>{{session['username']}}</h>
	<h>{{session['email']}}</h>
	<h>{{session['investment']}}</h>
	<h>{{session['risk_level']}}</h> -->
{% endblock %}
